
#map {
    height: 90%;
    border: solid black  ;
    margin-top: 5%;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  
  /* form  */
  
   form{
    flex: 1 1 4rem;
    /* padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem; */
    
  }
  form .box{
    padding: 0.5rem;
    /* margin: 1rem 0; */
    background: #3333;
    color: rgb(17, 15, 15);
    text-transform: none;
    font-size: 1.5rem;
    width: 100%;
    border: none;
  
  }
  
   button.btn{
    /* padding: 1rem; */
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 1rem 0;
    background: rgba(37, 47, 194, 0.904);
    color: rgb(243, 242, 242);
    text-transform: none;
    font-size: 1.0rem;
    /* width: 100%; */
    border: none;
    float: left;
  
  }
  
  .grid-containery {
    height: 50%;
    display: grid;
    grid-template-columns: auto auto ;
    gap: 5px;
    padding: 7px;
  }
  
  .grid-containery > div {
    text-align: center;
    font-size: 20px;
  }
  .grid-containerz {
    display: grid;
    grid-template-columns: auto ;
    gap: 5px;
    padding: 7px;
  }
  .grid-containerz > div {
    text-align: center;
    font-size: 20px;
  
  }
  
  .container{
    text-align: center;
  }
  
  /* api and form Js end */

  /* page loader start */

#spinner   {  
           
            animation: spin 1s linear infinite;
            color: red;
        }
          
        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }
          
.inline{
    display: flex;
}
.center{
    flex:left;
}
.spinner i{
    margin-top: 10px;
    margin-left: 50px;

    
}
  /* page loader end  */

  /* sucess form style start  */
  #style{
    border: 1px;
    padding: 5%;
    text-align: center;
    /* padding-bottom: 3%; */
    box-shadow: 5px 10px 10px 10px   #9e9a9a;
    background-color: #e29494;
    width: 50%;
    /* margin: 25%; */
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    
  }
   /* sucess form style end  */

   /* back button start */
   #backbutton{
    background-color: rgba(17, 105, 221, 0.904);
    padding: 1%;
    border: none;
   border-radius: 10%;
    color: antiquewhite;
   }
   /* back button end */